body{
    background: linear-gradient(90deg, pink, salmon, rgb(27, 24, 22));
}
.rounded{
    display: block;
    padding: 10px;
    margin: auto;
    width: 60%;
    text-align: center;
    border: solid;
    border-radius: 40px 0 40px 0;
    filter: brightness(100%)
    
    
}
.index {
    color: blue;
}
.css{
    color: rgb(38, 88, 88);
}